
<!DOCTYPE html>
<html lang="en">
<head>

    <title>profile</title>
    <%- include('../snippets/headers.ejs') %>

</head>
<body>
    <div class="container-fluid position-relative bg-white d-flex p-0">
        <!-- Sidebar Start -->
        <%- include('../snippets/sidebar.ejs') %>
        <!-- Sidebar End -->

        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%- include('../snippets/navbar.ejs') %>
            <!-- Navbar End -->


            <!-- Content Start -->
            <div class="container-fluid">
                <div class="card col-md-8 mx-auto mt-4 shadow">
                    <div class="card-body mb-5">
                        <div class="text-center">
                            <img src="/uploads/<%= student.img %>" alt="" class="rounded-circle" height="100" width="100">
                        </div>
                        <h4 class="text-center text-primary mt-4">My Bio</h4>
                        <input type="text" class="form-control mt-2" value="<%= student.fullname %>" disabled>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <input type="text" class="form-control mt-2" value="<%= student.faculty %>" disabled>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <input type="text" class="form-control mt-2" value="<%= student.dept %>" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <input type="text" class="form-control mt-2" value="<%= student.level %> Level" disabled>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <input type="text" class="form-control mt-2" value="<%= student.reg_no %>" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <input type="text" class="form-control mt-2" value="<%= student.email %> " disabled>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <input type="text" class="form-control mt-2" value="<%= student.phone_no %>" disabled>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        <!-- Content End -->
        </div>
    </div>

        <!-- Footer Start -->
        <%- include('../snippets/footer.ejs') %>
        <!-- Footer End -->
        <!-- JavaScript -->
        <%- include('../snippets/scripts.ejs') %>
        <!-- <script>
            new DataTable('#example');
        </script> -->
</body>
</html>