
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Dashboard</title>
    <%- include('../snippets/headers.ejs') %>

</head>
<body>
    <div class="container-fluid position-relative bg-white d-flex p-0">
        <% var context %>

        <!-- Sidebar Start -->
        <%- include('../snippets/sidebar.ejs') %>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%- include('../snippets/navbar.ejs') %>
            <!-- Navbar End -->


            <!-- Content Start -->
            <div class="container-fluid">
                <div class="row mt-5">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="card shadow">
                                        <div class="card-body">
                                                <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 text-start">
                                                                <p><i class="uil uil-book fs-1"></i> <br> Total Questions</p>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 text-end">
                                                                <% if (context.coursesCount) { %>
                                                                        <h1><%= context.coursesCount %></h1>
                                                                        <% } else { %>
                                                                        <h1>0</h1> <!-- Default value if count is not available -->
                                                                <% } %> 
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="card shadow">
                                        <div class="card-body">
                                                <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 text-start">
                                                                <p><i class="uil uil-user fs-1"></i> <br> Students</p>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 text-end">
                                                                <% if (context.resultCount) { %>
                                                                        <h1><%= context.resultCount %></h1>
                                                                        <% } else { %>
                                                                        <h1>0</h1>
                                                                <% } %>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="card shadow">
                                        <div class="card-body">
                                                <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 text-start">
                                                            <p><i class="uil uil-notebooks fs-1"></i> <br> Results</p>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 text-end">
                                                                <% if (context.resultCount) { %>
                                                                        <h1><%= context.resultCount %></h1>
                                                                        <% } else { %>
                                                                        <h1>0</h1>
                                                                <% } %>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                       </div>
                </div>
            </div>
        <!-- Content End -->
        </div>
    </div>
    
    <!-- Footer Start -->
    <%- include('../snippets/footer.ejs') %>
    <!-- Footer End -->

    <!-- JavaScript -->
    <%- include('../snippets/scripts.ejs') %>

     
</body>
</html>