
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Register faculty</title>
    <%- include('../snippets/headers.ejs') %>

</head>
<body>
    <div class="container-fluid position-relative bg-white d-flex p-0">
        <!-- Sidebar Start -->
        <%- include('../snippets/adminSidebar.ejs') %> 
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%- include('../snippets/adminNav.ejs') %>
            <!-- Navbar End -->


            <!-- Content Start -->
            <div class="container-fluid">
                <div class="card col-md-6 mx-auto mt-5">
                    <div class="card-body">
                        <h5 class="text-primary text-center mb-4">Register Faculty</h5>
                        <form action="" id="facultyForm">
                            <div class="row mb-4"> 
                                <div class="col-sm-12 mb-3">
                                        <input type="text" name="faculty_name" id="faculty_name" class="form-control" placeholder="Enter Faculty Name">
                                </div>
                                <div class="facultyErr text-danger"></div>
                            </div>
                            <div class="adminregBnt" id="adminfacultyreg">
                                    <button type="submit" class="btn">Submit</button>
                            </div>
                        </form>
                    </div>   
                </div>
            </div>
        <!-- Content End -->
        </div>
    </div>

    <!-- Footer Start -->
    <%- include('../snippets/footer.ejs') %>
    <!-- Footer End -->

    <script src="../js/faculty.js"></script>
    <!-- JavaScript -->
    <%- include('../snippets/scripts.ejs') %>
     
</body>
</html>