
<!DOCTYPE html>
<html lang="en">
<head>

    <title>View Faculty</title>
    <%- include('../snippets/headers.ejs') %>

</head>
<body>
    <div class="container-fluid position-relative bg-white d-flex p-0">
        <!-- Sidebar Start -->
        <%- include('../snippets/adminSidebar.ejs') %> 
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%- include('../snippets/adminNav.ejs') %>
            <!-- Navbar End -->


            <!-- Content Start -->
            <div class="container-fluid">
                <div class="text-end mt-5">
                    <a href="/admin/register-faculty"><button class="btn btn-primary">Register Faculty <i class="uil uil-plus"></i></button></a>
                </div>
                <div class="table-responsive">
                    <h5 class="text-primary text-center mb-4"> Faculties</h5>
                    <table id="example" class="table table-striped" style="width:100%;">
                            <thead>
                                <tr>
                                <th>Faculty Name</th>
                                <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% var context %>
                                <% if (context.faculties) { %>
                                    <% context.faculties.forEach(faculty => { %>
                                        <tr>
                                            <td><%= faculty.faculty_name %></td>
                                            <td class="d-flex">
                                                <a href="/admin/edit-faculty/?facultyId=<%= faculty._id %>"><button class=" btn btn-sm btn-outline-primary me-2" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button></a>
                                                <button type="button" onclick="return deleteFaculty('<%=faculty._id %>')" class=" btn btn-sm btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    <% }) %>
                                 
                                <% } %>
                            </tbody>
                    </table>
                </div>
            </div>

        <!-- Content End -->
        </div>
    </div>
    
    <!-- Footer Start -->
    <%- include('../snippets/footer.ejs') %>
    <!-- Footer End -->

    <!-- JavaScript -->
    <%- include('../snippets/scripts.ejs') %>
    <script src="/js/deleteFaculty.js"></script>
</body>
</html>