
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Assigned</title>
    <%- include('../snippets/headers.ejs') %>
   
</head>
<body>
    <div class="container-fluid position-relative bg-white d-flex p-0">
        <!-- Sidebar Start -->
        <%- include('../snippets/adminSidebar.ejs') %> 
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%- include('../snippets/adminNav.ejs') %>
            <!-- Navbar End -->


            <!-- Content Start -->
            <div class="container-fluid">
                <div class="text-end mt-5">
                    <a href="/admin/assign-course"><button class="btn btn-primary">Assign Course <i class="uil uil-plus"></i></button></a>
                </div>
                <div class="table-responsive ">
                    <h5 class="text-primary text-center">Course Handlers</h5>
                        <table id="example" class="table table-striped" style="width:100%;">
                             <thead>
                                 <tr>
                                   <th>Fullname</th>
                                   <th>Faculty</th>
                                   <th>Department</th>
                                   <th>Session</th>
                                   <th></th>
                                   <th>Actions</th>
                                 </tr>
                             </thead>
                             <tbody>
                                 <% var context %>
                                 <% if (context.assignedCourses) { %>
                                  <% context.assignedCourses.forEach(course => { %>
                                    <tr>
                                        <td><%=course.lecturer.fullname  %></td>
                                        <td><%=course.lecturer.faculty  %></td>

                                        <td><%=course.lecturer.dept  %></td>

                                        <td><%=course.session.session  %></td>

                                        <td><a href="/admin/courses-assigned-lecturer/?assignmentId=<%=course._id  %>"><button class="btn btn-sm btn-primary">View more</button></a></td>
                                        <td class="d-flex">
                                         <a href="/admin/edit-assigned/?assignedCourseId=<%=course._id  %>"><button class=" btn btn-sm btn-outline-primary me-2" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button></a>
                                         <a href=""><button class=" btn btn-sm btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Deactivate"><i class="fa fa-ban"></i></button></a>
                                         </td>           
                                  </tr>
                                  <% }) %>
                                 <% } %>
                              
                             </tbody>
                         </table>
                </div>
            </div>

        <!-- Content End -->
        </div>
    </div>

    <!-- Footer Start -->
    <%- include('../snippets/footer.ejs') %>
    <!-- Footer End -->

    <!-- JavaScript -->
    <%- include('../snippets/scripts.ejs') %>
     
</body>
</html>