
<!DOCTYPE html>
<html lang="en">
<head>

    <title>View dept</title>
    <%- include('../snippets/headers.ejs') %>

</head>
<body>
    <div class="container-fluid position-relative bg-white d-flex p-0">
        <!-- Sidebar Start -->
        <%- include('../snippets/adminSidebar.ejs') %> 
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%- include('../snippets/adminNav.ejs') %>
            <!-- Navbar End -->


            <!-- Content Start -->
            <div class="container-fluid">
                <div class="text-end mt-5">
                    <a href="/admin/register-dept"><button class="btn btn-primary">Register Department <i class="uil uil-plus"></i></button></a>
                </div>
                <div class="table-responsive">
                    <h5 class="text-primary text-center mb-4">Departments</h5>
                        <table id="example" class="table table-striped" style="width:100%;">
                             <thead>
                                 <tr>
                                   <th>Department</th>
                                   <th>Faculty</th>
                                   <th>Actions</th>
                                 </tr>
                             </thead>
                             <tbody>
                                <% var context %>
                                <% if (context.depts) { %>
                                 <% context.depts.forEach(dept => { %>  
                                    <tr>
                                        <td><%= dept.dept_name %></td>
                                        <td><%= dept.faculty %></td>
                                        <td class="d-flex">
                                            <a href="/admin/edit-dept/?deptId=<%= dept._id %>"><button class=" btn btn-sm btn-outline-primary me-2" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button></a>
                                            <button type="button" onclick="return deleteDept('<%=dept._id %>')" class=" btn btn-sm btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                 <% }) %>
                                <% } %>
                                
                                
                             </tbody>
                         </table>
                </div>
            </div>

        <!-- Content End -->
        </div>
    </div>


    <!-- Footer Start -->
    <%- include('../snippets/footer.ejs') %>
    <!-- Footer End -->

    <!-- JavaScript -->
    <%- include('../snippets/scripts.ejs') %>
    <script src="/js/deleteDept.js"></script>

</body>
</html>